doctype html
html
  head
    title= title ? title + " | " + site.title : site.title
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="#{site.root}style/style.css")
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    block body
      nav(class=['navbar', 'navbar-default', 'navbar-fixed-top'])
        .container
          .navbar-header
            button.navbar-toggle
              a.navbar-brand #{site.title}
          #navbar(class=['navbar-collapse'])
            ul(class=['nav', 'navbar-nav'])
              li: a Home
              // li: a About
              li: a(href="#{site.root}pages/contact") Contact
    #layout-main(class="container")
      .row.col-md-8
        block main
      .row.col-md-4
        block sidebar
